mat-grid-tile *{
  width: 95%;
}
.container{
  display: flex;
}
.myCard{
  width: 96.7vw;
}
.myTable{
  width: 100%;
}
.tableHeadCell{
  display: flex;
  background-color: #ad1457;
  color: #f9f9f9
}
.tableBodyCell{

}
