@import "~src/global_vars";
.login-card {
  position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 60%;
     height: 300px;
}

.username-form-field {
  width: 100%;
  font-size: 22px;
}

.login-card-title {
  font-size: 30px;
}

.app-title-div {
  position: absolute;
  font-size: 40px;
  width: 764px;
  left: 0;
  right: 0;
  color: whitesmoke;
  margin: 20px auto auto;
}

.enter-btn {
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
}
